/* *************** RESET *************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    font-family: "Rubik", serif;
    font-weight: 700;
    /* background-color: rgb(186, 255, 201); */
    color: black;
    -webkit-user-select: none;
    user-select: none;
    background-color: #4658e8;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* *************** SECTION *************** */

.principal {
    border: 2px solid black;
    padding: 0.8rem;
    width: fit-content;
    max-height: 600px;
    height: 70%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}


/* *************** HEADER *************** */

.header {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    width: 100%;
    align-items: start;
    border-bottom: 2px solid black;
}

/* SCORE */

.score, .tempo, .top-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pontuacao {
    color: rgb(0, 195, 255);
}

/* TOP */

.maior-pontuacao {
    color: rgb(0, 236, 51);
}

/* TEMPO */

.restante {
    color: red;
}

/* *************** MAIN *************** */

.main-secundaria {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.numero {
    font-size: 4rem;
}

/* *************** FOOTER *************** */

.footer {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box {
    height: 90px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

button {
    background-color: transparent;
    border: 2px solid black;
    font-weight: 700;
}

.option2, .option3, .option6 {
    background-color: #6255ef;
    color: white;
}

.option1, .option4, .option5 {
    background-color: #3136c9;
    color: white;
}

button {
    border: 0px;
}

/* .option1 {
    border-radius: 20px 20px 0px 20px;
}

.option2 {
    border-radius: 20px 0px 20px 20px;
}

.option3 {
    border-radius: 20px 20px 0px 0px;
}

.option4 {
    border-radius: 0px 0px 20px 20px;
}

.option5 {
    border-radius: 20px 20px 20px 0px;
}

.option6 {
    border-radius: 0px 20px 20px 20px;
} */

.option1, .option2, .option3, .option4, .option5, .option6 {
    border-radius: 10px;
}